:root {
    --light-beige: #F6EFE2;
    --light-blue: #E9F7FC;
    --light-red: #F1DADA;
    --light-black: #888888;
    --lighter-black: #6B6B6B;
    --light-orange: #F1D08F;
    --light-green: #DFF8D7;

    --beige: #544E43;
    --blue: #63747A;
    --red: #7D6E6E;
    --black: #161616;
    --orange: #605135;
    --green: #52624D;

    --site-bg: #ffff;
}

.lightmode {
    --light-beige: #F6EFE2;
    --light-blue: #E9F7FC;
    --light-red: #F1DADA;
    --light-black: #888888;
    --lighter-black: #6B6B6B;
    --light-orange: #F1D08F;
    --light-green: #DFF8D7;

    --beige: #544E43;
    --blue: #63747A;
    --red: #7D6E6E;
    --black: #161616;
    --orange: #605135;
    --green: #52624D;

    --site-bg: #ffff;
}

.darkmode {
    --light-beige: #392f1d;
    --light-blue: #1c2c2e;
    --light-red: #341f1a;
    --light-black: #b3a48a;
    --lighter-black: #6B6B6B;
    --light-orange: #6e572c;
    --light-green: #34401e;

    --beige: #d5c4a8;
    --blue: #b9aa8f;
    --red: #b4a58b;
    --black: #fffddd;
    --orange: #e1cba4;
    --green: #ccbca0;

    --site-bg: #1d1c19;
}

body,html {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--site-bg);
    transition: all .25s;
}

body,html,main {
    height: 100%;
}

main {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

button {
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#logoWrapper h1 {
    color: var(--beige);
    transform: translateX(.35em) translateY(-.5em);
    margin: 0;
    font-size: 16pt
}

#logoBG {
    background-color: var(--light-beige);
    padding: 0 .5rem;
    width: fit-content;
    height: fit-content;
}

#themeSwitcher {
    cursor: pointer;
}

#switch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    align-items: center;
    margin-bottom: 2rem;
}

#switch .typeWrapper {
    background-color: var(--light-blue);
    padding: .5rem .75rem;
    border-radius: 3px;
    margin-right: 1rem;
}

#switch .typeWrapper:last-of-type {
    margin-right: 0;
}

#switch h2 {
    color: var(--blue);
    font-size: 14pt;
    margin: 0;
}

#switchBtnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-right: 1rem;
}

#switchBtnWrapper i {
    color: var(--blue);
    font-size: 14pt;
    margin-bottom: .5rem;
    transition: all .25s;
}

#switchBtn {
    background-color: var(--light-red);
    color: var(--red);
    padding: .25rem .5rem;
    border-radius: 3px;
}

#task {
    text-align: center;
    font-family: sans-serif;
}
#task h3 {
    color: var(--black)
}

#inputWrapper {
    display: flex;
    align-items: center;
    width: 75%;
    height: 2rem;
    position: relative;
}

#inputWrapper label {
    position: absolute;
    left: .5rem;
    color: var(--light-black);
    background-color: var(--site-bg);
    font-size: 10pt;
    padding: 0 .5rem;
    user-select: none;
}

#inputWrapper input {
    border-radius: 3px;
    border: solid 1px var(--light-black);
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    color: var(--black)
}

#checkBtn {
    margin: 2rem;
    background-color: var(--light-orange);
    color: var(--orange);
    width: 75%;
    padding: .75rem 2rem;
    font-size: 13pt;
    box-shadow: 0 15px 25px -2px rgba(0, 0, 0, 0.185);
    margin-top: 7rem;
}

#comment {
    font-size: 10pt;
    color: var(--lighter-black);
    position: absolute;
    bottom: 1rem;
    text-align: center;
}

#popup {
    position: absolute;
    background-color: var(--light-green);
    color: var(--green);
    transform: translateY(-200%);
    border-radius: 3px;
    padding: .75rem 2rem;
    width: 66%;
    height: 2rem;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 0 15px 25px -2px rgba(0, 0, 0, 0.185);
    cursor: pointer;
    transition: all 0.5s;
}

#popup span {
    color: inherit;
    font-size: 16pt;
    text-align: center;
}

#popup span:last-of-type {
    font-size: 11pt;
}